<footer class="footer">
  {% include social-icons.html %}
  <div class="post-date"><a href="/menu/about.html">{{ site.title }} | {{ site.description }} by {{ site.author }}</a></div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br />Esta obra ten unha licenza Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Atribución-Non comercial-Compartir igual 4.0 Internacional</a>.
</footer>
